* { 
  border: 1px solid red;
}
body {
  height: 100vh;
  background-color: rgb(72, 66, 66);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10%;
  grid-template-areas: ". . ."
                       ". center ."
                       ". . .";
}
div {
  background-color: blueviolet;
  grid-area: center;
}